<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>Tina's Website</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel=stylesheet type=text/css href="../../static/css/view.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-39735999-1', 'tinawen.com');
      ga('send', 'pageview');
    </script>
    <link rel="shortcut icon" href="../../static/img/favicon.png"/>
  </head>
  <div id="page_content">
    <div class="content" id="homedash">
      <h1>Home Dashboard with Raspberry pi</h1>
      <p>With this raspberry pi running, it pulls from google latitude, google calendar, and google tasks for my account and my boyfriend's account, every 30 minutes. The little purple tuna on the map is me, and the orange elephant is my boyfriend. After pulling down the calendar and tasks data, the pi tries to merge our events and tasks. My own event or task is color coded to purple, and my friend's to orange. The text is bolded to black if the event or task belongs to both of us.</p>
      <p>I had fun building this little project. I already ordered a webcam from Amazon. Next thing is to have it take a picture every 30 minutes and upload the picture to Dropbox. I firmly believe this can prevent us from a breakin!</p>
      <div class="desc-img">
	<img src="../../static/img/homedash.png" />
      </div>
    </div>
    <div id="navbar">
      <ul id="nav">
	<li>
	  <a href="../../index.html">Home</a>
	</li>
	<li>
	  <a href="../bio.html">About Me</a>
	</li>
	<li>
	  <a href="../resume.html">Resume</a>
	</li>
	<li class="active">
	  <a href="../projects.html">Projects</a>
	  <img src="../../static/img/icon.png" />
	</li>
      </ul>
    </div>
  </div>
</html>

