<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>Tina's Website</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel=stylesheet type=text/css href="../static/css/view.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-39735999-1', 'tinawen.com');
      ga('send', 'pageview');
    </script>
    <link rel="shortcut icon" href="../static/img/favicon.png"/>
  </head>
  <div id="page_content">
    <div class="content" id="resume-page-wrapper">
      <div id="resume-background">
	<div id="resume-content">
	  <div id="contact">
            <div class="contact-field">
              <a href="mailto:tdubs@tinawen.com">tdubs@tinawen.com</a> | <a href="http://www.tinawen.com">www.tinawen.com</a>
            </div>
            <div class="contact-field">
              5766 Ayala Ave, Oakland, CA 94609
            </div>
            <div id="name">Tina Wen</div>
            <div class="contact-field">
              (857) 204-3104
            </div>
	  </div>
	  <div class="detail-field">
            <div class="section">
              <div class="section-title">Objective</div>
              <div class="section-content-detail">
                <div>Seeking a fulltime position as a senior iOS developer</div>
              </div>
            </div>

            <div class="section">
              <div class="section-title">Experience</div>
              <div class="section-content-header">
    <span class="title">Dropbox, Software Engineer</span><span class="date">(August 11 - current)</span><span class="location">San Francisco, CA</span>
              </div>
              <div class="section-content-detail">
                <li>Undisclosed iOS Application - Built a new, undisclosed app on top of chromium for cross platform support. Utilized new Apple technologies such as Swift and Storyboards.</li>
                <li>Carousel iOS - Wrote Dropbox's Carousel iOS app from scratch. Created a skeleton that myself and other team members filled in. Solved some <a href="https://tech.dropbox.com/2014/10/building-carousel-part-iii-drawing-images-on-screen/">technical challenges imposed on mobile</a>. Responsible for building various project pieces, including Carousel's key strategic feature - conversations.</li>
                <li>Dropbox Web - Built and released large-scale, user visible features such as cross platform notifications. Wrote many unit tests to maintain a large, complicated system that we built and developed.</li>
                <li>Dropbox Core iOS App - Designed, implemented, and shipped game changing features such as camera upload and large file upload for the Dropbox iPhone and iPad apps, largely working solo.</li>
              </div>
            </div>
      
            <div class="section">
              <div class="section-content-header">
    <span class="title">Microsoft Office For Mac, Software Engineer</span><span class="date">(September 09 - August 11)</span><span class="location">Mountain View, CA</span>
              </div>
              <div class="section-content-detail">
                <li>Architected, designed, and developed features for Outlook For Mac using Objective-C (Cocoa) and C++.</li>
                <li>Area of responsibility included contacts, accounts, and distribution list expansion for mail and calendar.</li>
                <li>Shipped Office for Mac 2011.</li>
              </div>
            </div>

            <div class="section">
              <div class="section-content-header">
                <span class="title">Microsoft Mediaroom, Software Intern</span><span class="date">(Summer 08)</span><span class="location">Mountain View, CA</span>
              </div>
            </div>

            <div class="section">
              <div class="section-content-header">
                <span class="title">NVIDIA, Hardware Intern</span><span class="date">(Summer of 06 and 07)</span><span class="location">Santa Clara, CA</span>
              </div>
            </div>

            <div class="section">

              <div class="section-title">Projects</div>
              <div class="section-content-header">
                <span class="title"><a href="./projects/fishing.html">iOS 7 Fishing Game with Live Design Updates<a></span><span class="date">(August 13)</span><span class="location">San Francisco, CA</span>
              </div>
              <div class="section-content-detail">
                Used Dropbox datastore as a backend to support live updating design properties such as color, speed, and animation duration through a web interface as a proof of concept. The updates are shown up instantly in the running iPhone app.
              </div>
            </div>

            <div class="section">
              <div class="section-content-header">
    <span class="title"><a href="./projects/homedash.html">Home Dashboard with Raspberry Pi<a></span><span class="date">(March 13)</span><span class="location">San Francisco, CA</span>
              </div>
              <div class="section-content-detail">
                Built a home security system with a Raspberry Pi and a web cam that takes pictures of my home every second if light conditions are acceptable and I'm not at home as determined by Google Latitude. Uploads the pictures to Dropbox and automatically cleans up old pictures every day. 
              </div>
            </div>
      
            <div class="section">
              <div class="section-content-header">
                <span class="title"><a href="./projects/menu.html">Dropbox Menu Site for the Cafeteria<a></span><span class="date">(February 12)</span><span class="location">San Francisco, CA</span>
              </div>
              <div class="section-content-detail">
                Built a menu website that allows company chefs to add/edit/delete daily menus and makes the menus viewable on the cafeteria flat screen TV, through a browser, and via an API. This has been live for 3 years and is still in use today!
              </div>
            </div>

            <div class="section">
              <div class="section-title">Languages</div>
              <div class="section-content-detail no-header">
                C/Objective-C, Swift, Python, CoffeeScript/JS, SCSS/CSS
              </div>
            </div>

            <div class="section">
              <div class="section-title">Education</div>
                <div class="section-content-header">
              		<span class="title">Massachusetts Institute of Technology</span>
              		<span id="gpa">GPA 5.0/5.0</span>
              		<span class="location">Cambridge, MA</span>
                </div>
              <div class="section-content-detail">
            		<div>Masters of Engineering and Bachelor of Science in Electrical Engineering and Computer Science <span class="date">(04 - 09)</span></div>
            		<div>Master's thesis:
            		  <a href="../static/files/thesis.pdf">Bandwidth-Sensitive Oblivious Routing.</a>
            		</div>
              </div>
            </div>

            <div class="section">
              <div class="section-title">Press</div>
              <div class="section-content-detail">
                <div>Orin, Andy. <a href="http://lifehacker.com/im-tina-wen-engineer-at-dropbox-and-this-is-how-i-wor-1592578922">I'm Tina Wen, Engineer at Dropbox, and This Is How I Work."</a> Lifehacker. N.p., 18 June 2014.</div>
              </div>
            </div>

            <div class="section">
              <div class="section-title">Publications</div>
              <div class="section-content-detail no-header">
		            <li class="article first">M.A. Kinsy, M.H. Cho, T. Wen, E. Suh, M. Van Dijk, and S. Devadas. "<a href='http://people.csail.mit.edu/devadas/pubs/bsor-isca.pdf'>Application-aware deadlock-free oblivious routing.</a>"<span class="magazine">ACM SIGARCH Computer Architecture News,</span> 37(3):208-219, 2009.</li>
            		<li class="article">K.S.Shim, M.H.Cho, M.Kinsy, T.Wen, M.Lis, GE Suh, and S.Devadas. "<a href='http://dspace.mit.edu/openaccess-disseminate/1721.1/51681'>Static virtual channel allocation in oblivious routing.</a>"<span class="magazine">In Networks-on-Chip, 2009. NoCS 2009. 3rd ACM/IEEE International Symposium on</span>, pages 28-43. IEEE, 2009.</li>
            		<li class="article">M.H.Cho, M.Lis, K.S.Shim, M.Kinsy, T.Wen and S.Devadas. "<a href='http://people.csail.mit.edu/mkinsy/papers/cho_pact09.pdf'>Oblivious routing in on-chip bandwidth-adaptive networks.</a>"<span class="magazine">In Parallel Architecture and compilation Techniques, 2009. PACT'09. 18th International Conference on</span>, pages 181-190. IEEE, 2009.</li>
              </div>
            </div>

            <div class="section">
              <div class="section-title">Hobbies</div>
              <div class="section-content-detail no-header">Dancing, ultimate, snowboarding/skiing, zumba, climbing</div>
            </div>
	  </div>
	</div>
      </div>
      <input class="button" type="button" onClick="window.print()" value="Print PDF" />
    </div>
    <div id="navbar">
      <ul id="nav">
	<li>
	  <a href="../index.html">Home</a>
	</li>
	<li>
	  <a href="./bio.html">About Me</a>
	</li>
	<li class="active">
	  <a href="./resume.html">Resume</a>
	  <img src="../static/img/icon.png" />
	</li>
	<li>
	  <a href="./projects.html">Projects</a>
	</li>
      </ul>
    </div>
  </div>
</html>

